body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #080063;
    text-align: center;
}
header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:rgb(239, 196, 24);
    color: white;
    padding: 15px 0;
    font-size: 24px;/*espaçamento interno 15px para os lados, 0 cima e baixo*/
    border: none;
}
nav{
    background-color: rgb(199, 164, 23);
    padding: 10px;
    display: flex;
    justify-content: space-between;/*alinhamento na horizontal - espaçamento entre os links*/
    align-items: center;
}
#links-menu{
    display: flex;
    gap: 15px;
}
/*configura o estilo das âncoras que estão dentro do nav*/
nav a {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none; /*não faz decoração no link*/
    padding: 10px 15px;
    font-size: 18px; /*tamanho da fonte*/
    background: #080063;
    border-radius: 5px;/*borda de canto arredondado*/
}
nav a:hover{
    background: #003d82;
}
img{
    width: 100px;
    height: auto;
    margin-right: 20px;/*espaçamento externo à direita*/
    border-radius: 10px;
}
.container{
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    text-align: justify;
}
h2{
    text-align: center;
}
.arrecadação{
    background: wheat;
    margin: 20px auto;
    width: 80%;
    text-align: justify;
    border-radius: 10px;
    padding: 20px;
}
.escala{
    background: wheat;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    text-align: justify;
    border-radius: 10px;
}
.avulsos{
    background: wheat;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    text-align: justify;
    border-radius: 10px;
}
.sangue{
    background: wheat;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    text-align:justify;
    border-radius: 10px;
}
h3{
    text-align: center;
}
.acao{
    background: wheat;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    text-align: justify;
    border-radius: 10px;
}
.meta{
    background: wheat;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    text-align: justify;
    border-radius: 10px;
}
.homenagem{
    background: wheat;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    text-align: justify;
    border-radius: 10px;
}